@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --ring: 217.21925133689842 91.21951219512198% 59.80392156862745%;
    --background: 0 0% 98.0392156862745%;
    --foreground: 240 10% 3.9215686274509802%;

    --background-50: 0 0% 98.0392156862745%;
    --background-100: 240 4.761904761904756% 95.88235294117648%;
    --background-200: 240 5.882352941176448% 90%;
    --background-300: 240 4.87804878048779% 83.92156862745098%;
    --background-400: 240 5.027932960893851% 64.90196078431372%;
    --background-500: 240 3.8297872340425574% 46.07843137254902%;
    --background-600: 240 5.202312138728321% 33.92156862745098%;
    --background-700: 240 5.263157894736844% 26.078431372549023%;
    --background-800: 240 3.7037037037036993% 15.88235294117647%;
    --background-900: 240 5.88235294117647% 10%;
    --background-950: 240 10% 3.9215686274509802%;

    --card: 180 47.36842105263159% 96.27450980392156%;
    --card-foreground: 240 10% 3.9215686274509802%;
    --card-50: 195.88235294117646 41.463414634146346% 16.07843137254902%;
    --card-100: 194.6341463414634 33.88429752066116% 23.72549019607843%;
    --card-200: 193.20000000000002 36.231884057971016% 27.058823529411768%;
    --card-300: 192.35294117647058 43.03797468354429% 30.980392156862745%;
    --card-400: 190.66666666666666 48.387096774193544% 36.470588235294116%;
    --card-500: 187.77777777777777 49.54128440366972% 42.745098039215684%;
    --card-600: 187.22222222222223 45.378151260504204% 53.333333333333336%;
    --card-700: 186.3157894736842 48.101265822784825% 69.01960784313725%;
    --card-800: 184 48.38709677419354% 81.76470588235294%;
    --card-900: 184.79999999999998 51.02040816326527% 90.39215686274508%;
    --card-950: 180 47.36842105263159% 96.27450980392156%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9215686274509802%;

    --primary: 187.77777777777777 49.54128440366972% 42.745098039215684%;
    --primary-foreground: 0 0% 98%;

    --secondary: 173.41463414634146 80.3921568627451% 40%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 24.581497797356832 94.97907949790796% 53.13725490196079%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9215686274509802%;
    --foreground: 0 0% 98%;

    --background-50: 240 10% 3.9215686274509802%;
    --background-100: 240 5.88235294117647% 10%;
    --background-200: 240 3.7037037037036993% 15.88235294117647%;
    --background-300: 240 5.263157894736844% 26.078431372549023%;
    --background-400: 240 5.202312138728321% 33.92156862745098%;
    --background-500: 240 3.8297872340425574% 46.07843137254902%;
    --background-600: 240 5.027932960893851% 64.90196078431372%;
    --background-700: 240 4.87804878048779% 83.92156862745098%;
    --background-800: 240 5.882352941176448% 90%;
    --background-900: 240 4.761904761904756% 95.88235294117648%;
    --background-950: 0 0% 98.0392156862745%;

    --card: 228.57142857142856 84% 4.901960784313726%;
    --card-foreground: 0 0% 98%;
    --card-50: 228.57142857142856 84% 4.901960784313726%;
    --card-100: 222.22222222222223 47.36842105263158% 11.176470588235293%;
    --card-200: 217.24137931034483 32.58426966292136% 17.45098039215686%;
    --card-300: 215.29411764705884 24.999999999999993% 26.666666666666668%;
    --card-400: 215.29411764705884 19.318181818181817% 34.509803921568626%;
    --card-500: 215.38461538461536 16.31799163179916% 46.86274509803921%;
    --card-600: 215.00000000000003 20.224719101123593% 65.09803921568627%;
    --card-700: 212.72727272727266 26.82926829268293% 83.92156862745097%;
    --card-800: 214.28571428571428 31.818181818181824% 91.37254901960785%;
    --card-900: 209.9999999999999 40.00000000000003% 96.078431372549%;
    --card-950: 210.00000000000023 40.00000000000017% 98.03921568627452%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 37.69230769230769 92.12598425196852% 50.19607843137255%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 238.73239436619718 83.52941176470587% 66.66666666666666%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 24.581497797356832 94.97907949790796% 53.13725490196079%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
