@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98.0392156862745%;
    --foreground: 240 10% 3.9215686274509802%;

    --card: 180 47.36842105263159% 96.27450980392156%;
    --card-foreground: 240 10% 3.9215686274509802%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9215686274509802%;

    --primary: 187.77777777777777 49.54128440366972% 42.745098039215684%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 64% 39%;
    --secondary-50: 210 64% 96%;
    --secondary-100: 210 64% 90%;
    --secondary-200: 210 64% 80%;
    --secondary-300: 210 64% 70%;
    --secondary-400: 210 64% 60%;
    --secondary-500: 210 64% 50%;
    --secondary-600: 210 64% 40%;
    --secondary-700: 210 64% 31%;
    --secondary-800: 210 64% 20%;
    --secondary-900: 210 64% 15%;
    --secondary-950: 210 64% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 24 95% 53%;
    --accent-50: 24 95% 96%;
    --accent-100: 24 95% 90%;
    --accent-200: 24 95% 80%;
    --accent-300: 24 95% 70%;
    --accent-400: 24 95% 60%;
    --accent-500: 24 95% 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9215686274509802%;
    --foreground: 0 0% 98%;

    --card: 228.57142857142856 84% 4.901960784313726%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 37.69230769230769 92.12598425196852% 50.19607843137255%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 238.73239436619718 83.52941176470587% 66.66666666666666%;
    --secondary-50: 225.88235294117652 100% 96.66666666666667%;
    --secondary-100: 226.4516129032258 100% 93.92156862745098%;
    --secondary-200: 228.00000000000003 96.49122807017545% 88.8235294117647%;
    --secondary-300: 229.65517241379308 93.5483870967742% 81.76470588235294%;
    --secondary-400: 234.45378151260505 89.47368421052633% 73.92156862745098%;
    --secondary-500: 238.73239436619718 83.52941176470587% 66.66666666666666%;
    --secondary-600: 243.39622641509433 75.35545023696683% 58.62745098039216%;
    --secondary-700: 244.52054794520546 57.93650793650792% 50.588235294117645%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 24.581497797356832 94.97907949790796% 53.13725490196079%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
